header, aside, nav, main, footer{
	border: 1px solid red;
}

header {
	width: 100%;
	height: 100px;
	background: orange;
	text-align: center;
	font-size: 60px;
	color: white;
}

main, aside {
	display: inline-block;
	vertical-align: top;
}


nav {
	background: green;
}

main {
	background: green;
	width: 66%;
}

aside {
	background: red;
	width: 20%;
}




footer {
	background: pink;
}